@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "var(--font-calibre)", sans-serif;
}

body {
  counter-reset: section;
}

html.light body {
  @apply bg-light-background text-light-text;
}

html.dark body {
  @apply bg-dark-background text-dark-text;
}

.big-heading {
  @apply font-bold text-4xl sm:text-5xl lg:text-7xl mb-5;
  color: #fbbf24;
}

.btn-start {
  @apply border border-light-accent dark:border-dark-accent py-4 px-10 rounded mt-5 hover:bg-light-accent duration-300 hover:bg-opacity-10;
}

.dowload-cv {
  @apply text-light-accent dark:text-light-accent underline ml-5;
}

.fixed-line {
  width: 1px;
  height: 100px;
  @apply bg-light-secondary dark:bg-dark-secondary;
}

/* .title-section::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
  @apply text-light-primary dark:text-dark-primary leading-none;
} */

.title-section::after {
  content: "";
  display: block;
  position: relative;
  top: -17px;
  right: 0;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  @apply bg-light-secondary dark:bg-dark-secondary !bg-opacity-15;
}

.title-line {
  content: "";
  display: block;
  position: relative;
  top: 0;
  right: 0;
  height: 1px;
  @apply bg-light-secondary dark:bg-dark-secondary !bg-opacity-15 flex-1;
}

.title-contact::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
  @apply text-light-primary dark:text-dark-primary leading-none;
}

.shape-image-about::before {
  content: "";
  bottom: -30px;
  right: -30px;
  @apply absolute w-full h-full border-2 rounded-md border-light-accent dark:border-dark-accent;
}

.nav_layout {
  backdrop-filter: blur(7.5px);
  background-color: rgba(242, 242, 242, 0.05);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 25px 0px;
  opacity: 1;
}

.bg_page {
  z-index: -10;
  background-image: url("/img_banner.svg");
  height: 200vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.bg_page_dot {
  background-image: url("/dot_banner.svg");
  background-position: 0 0;
  background-size: 90px;
  background-attachment: fixed;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg_page_shape {
  will-change: transform;
  transform: translate3d(0px, -35.4125%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.icon_logo_programming {
  padding: 10px;
  border: 5px dashed white;
}

.my_skill_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my_skill_content .first_row {
  grid-template-columns: repeat(6, 160px);
  @apply hidden sm:grid;
}

.my_skill_content .second_row {
  grid-template-columns: repeat(5, 160px);
  @apply hidden sm:grid;
}

.my_skill_content .thrid_row {
  grid-template-columns: repeat(4, 160px);
  @apply hidden sm:grid;
}

.my_skill_content .four_row {
  grid-template-columns: repeat(3, 160px);
  @apply hidden sm:grid;
}

.my_skill_content .five_row {
  grid-template-columns: repeat(2, 160px);
  @apply hidden sm:grid;
}

@media screen and (min-width: 640px) and (max-width: 992px) {
  .my_skill_content .first_row {
    grid-template-columns: repeat(6, 100px);
  }

  .my_skill_content .second_row {
    grid-template-columns: repeat(5, 100px);
  }

  .my_skill_content .thrid_row {
    grid-template-columns: repeat(4, 100px);
  }

  .my_skill_content .four_row {
    grid-template-columns: repeat(3, 100px);
  }

  .my_skill_content .five_row {
    grid-template-columns: repeat(2, 100px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .my_skill_content .first_row {
    grid-template-columns: repeat(6, 130px);
  }

  .my_skill_content .second_row {
    grid-template-columns: repeat(5, 130px);
  }

  .my_skill_content .thrid_row {
    grid-template-columns: repeat(4, 130px);
  }

  .my_skill_content .four_row {
    grid-template-columns: repeat(3, 130px);
  }

  .my_skill_content .five_row {
    grid-template-columns: repeat(2, 130px);
  }
}

.my_skill_item {
  @apply flex items-center justify-center;
}

.bg_gradient {
  background: linear-gradient(
    to right,
    #4df8ce 0%,
    #84a1fd 35%,
    #e3a5ee 70%,
    #ede6bc 100%
  );
}

.bg_under_list_skill {
  transform: rotate(3deg) translateZ(0px);
  align-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #4df8ce 0%,
    #84a1fd 35%,
    #e3a5ee 70%,
    #ede6bc 100%
  );
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 70px;
  justify-content: center;
  left: calc(50.16666666666669% - 105% / 2);
  opacity: 0.6;
  overflow: hidden;
  padding: 20px 0 20px 2px;
  position: absolute;
  top: calc(48.59437751004018% - 70px / 2);
  width: 105%;
  z-index: 1;
}

.list_skill_animation .list_skill {
  transform: translateX(-50%) rotate(-3deg) translateZ(0px) translate3d(0, 0, 0);
  align-content: center;
  align-items: center;

  bottom: -20px;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 50%;
  overflow: hidden;
  width: 150%;
  padding: 20px 0 20px 2px;
  position: absolute;
  z-index: 1;
}

.list_skill_animation .list_skill ul {
  animation: moveSlideShowX 30s linear infinite;
}

.about_me {
  background-image: url("/bg_about_me.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.about_me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* blur màu trắng  */
  background: rgba(255, 255, 255, 0.3);
}

.text_gradient {
  background: linear-gradient(
    to right,
    #4df8ce 0%,
    #84a1fd 35%,
    #e3a5ee 70%,
    #ede6bc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project_item {
  background-color: rgba(242, 242, 242, 0.06);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 40px 80px 0px;
  opacity: 1;
  padding: 10px;
  position: relative;
  margin-bottom: 100px;
}

.project_item img {
  border-radius: 8px 8px 0 0;
}

.project_item::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 5%,
    rgba(255, 255, 255, 0.8) 35%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0.8) 65%,
    rgba(0, 0, 0, 0) 95%
  );
  opacity: 1;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.project_item .project_item_bg {
  --border-bottom-width: 1px;
  --border-color: rgba(61, 61, 61, 1);
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  border-radius: 16px;
  opacity: 1;
  padding: 40px;
  padding-bottom: 0;
  transition: all 0.5s;
}

.project_item.project_1 .project_item_bg {
  background: linear-gradient(
    188.083deg,
    rgba(34, 124, 249, 0.49) 0%,
    rgba(34, 124, 249, 0.8) 100%
  );
}

.project_item.project_2 .project_item_bg {
  background: linear-gradient(
    188.083deg,
    rgba(34, 34, 96, 0.49) 0%,
    rgba(34, 34, 96, 0.8) 100%
  );
}

.project_item.project_3 .project_item_bg {
  background: linear-gradient(
    188.083deg,
    rgba(191, 61, 194, 0.49) 0%,
    rgba(191, 61, 194, 0.8) 100%
  );
}

.project_item.project_4 .project_item_bg {
  background-image: linear-gradient(
    178.2deg,
    rgba(118, 8, 23, 1) 10.9%,
    rgba(158, 12, 33, 1) 62.6%
  );
}

.project_item.project_5 .project_item_bg {
  background-image: linear-gradient(
    110.1deg,
    rgba(30, 2, 83, 1) 44.2%,
    rgba(198, 55, 160, 1) 138.2%
  );
}

.project_item.project_6 .project_item_bg {
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
}

.project_item .project_item_bg .project_item_content {
  transform: scale(1) rotate(0deg) translateY(20px);
  transition: all 0.5s;
}

.project_item .project_item_bg:hover .project_item_content {
  transform: scale(1.05) rotate(-2deg) translateY(20px) translateZ(0);
}

.contact_me a,
.contact_me li {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(270deg, #e3a5ee, #ede6bc);
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0.3em 14px;
  font-size: 20px;
  transition: all 0.5s;
  position: relative;
}

.contact_me a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px; /* Độ dày của gạch chân */
  width: 0;
  background-image: linear-gradient(270deg, #e3a5ee, #ede6bc);
  z-index: -1; /* Để không che văn bản */
  transition: all 0.5s;
}

.contact_me a:hover:after {
  width: 100%;
}

.line_sticky_data {
  @apply relative;
}

.line_sticky_data::after {
  content: "";
  @apply absolute top-1/2 -translate-y-1/2 -right-12 w-10 h-0.5 bg-blue-500;
}

.upToDownAnimation {
  animation: upToDown 0.3s forwards;
}

@keyframes moveSlideShowX {
  100% {
    transform: translateX(-66.6666%);
  }
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@layer base {
  .theme {
    --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
    --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  }
  :root {
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }
  .dark {
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }
}

@theme inline {
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
    }
  50%, 100% {
    opacity: 0;
    }
  }
  @keyframes rainbow {
  0% {
    background-position: 0%;
    }
  100% {
    background-position: 200%;
    }
  }
}